<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bilgisayar_Teknik_Servis.Properties.Settings.BilgisayarTeknikServisConnectionString"
            connectionString="Data Source=UFUKDENIZHP\SQLEXPRESS;Initial Catalog=BilgisayarTeknikServis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>